/* Scroll like it's 2010, Inspired by http://maxvoltar.com/ */

::-webkit-scrollbar{
	width: 6px;
	height: 6px;}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment{
	display: block;
	height: 4px;}

::-webkit-scrollbar-button:vertical:increment{
	background: #fff;}

::-webkit-scrollbar-track-piece{
	background: rgba(0,0,0,0.1);
	-webkit-border-radius: 3px;}

::-webkit-scrollbar-thumb:vertical{
	height: 30px;
	background: rgba(180,180,180,1);
	-webkit-border-radius: 3px;}

::-webkit-scrollbar-thumb:horizontal{
	width: 30px;
	background-color: #ccc;
	-webkit-border-radius: 3px;}

body{
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 4px;
	overflow-y: scroll;}

body:after{
	position: fixed;
	top: 0;
	right: 10px;
	display: block;
	width: 1.5em;
	height: 100%;
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), to(rgba(255,255,255,1))) 0 0 no-repeat;
	content: "";}
	
#Chat:after{
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 1em;
	height: 100%;
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,1)), to(rgba(255,255,255,0))) 0 0 no-repeat;
	content: "";}

html{
	overflow: auto;
	background: #fff;}